<!-- <div>
    <h2>Counter: {{ counter$ | async }}</h2>
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
    <button (click)="reset()">Reset</button>
  </div> -->
  <!-- <button id="increment" (click)="increment()">Increment</button>

  <div >Current Count: {{ count$ | async }}</div>
  
  <button id="decrement" (click)="decrement()">Decrement</button>
  
  <button id="reset" (click)="reset()">Reset Counter</button> -->

  <div>
    <h2>Counter: {{ counter$ | async }}</h2>
    <button (click)="increment()" class="increment">Increment</button>
    <button (click)="decrement()" class="decrement">Decrement</button>
    <button (click)="reset()" class="reset">Reset</button>
  </div>




  