div {
    margin-left: 2rem;
    margin-top: 1rem;
    border: 2px solid red;
    width: 20rem;
    height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .child-message {
        color: green;
    }
}

button {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
    background-color: #a72828; // Green color
    color: #fff; // White color
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgb(121, 1, 1)
  }
  