<!-- <h1>{{title}}</h1> -->

<!-- <app-angular-practice></app-angular-practice> -->

<!-- <app-parent></app-parent> -->

<!-- <app-pieps></app-pieps> -->
<!-- <app-item-list></app-item-list> -->
<!-- <app-my-form></app-my-form> -->
<!-- <app-observable-counter-app></app-observable-counter-app> -->

<!-- <app-number-display></app-number-display> -->
<!-- <app-item-detail></app-item-detail> -->
<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->
<!-- <h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav> -->
<!-- The routed views render in the <router-outlet>-->

<!-- <button (click)="onNavigateToAbout()">click here</button> -->
<!-- <router-outlet></router-outlet> -->
<!-- <p>{{ 'HOME.WELCOME' | translate }}</p> -->


<!-- <app-home></app-home> -->
<!-- <h2>hello world</h2> -->
<!-- <app-task></app-task> -->
<!-- <app-my-form></app-my-form> -->
<!-- <app-my-form-array></app-my-form-array> -->
<!-- <app-counter></app-counter> -->
<!-- <app-my-form></app-my-form> -->

<router-outlet></router-outlet>
